version: "3"

services:
  clef-1:
    image: ethersphere/clef:0.4.12
    restart: unless-stopped
    environment:
      - CLEF_CHAINID=5
    ports:
      - "127.0.0.1:8550:8550"
    volumes:
      - /data/clef:/app/data
    command: full

  bee-1:
    image: renning22/bee:0.6.2-test3
    restart: unless-stopped
    network_mode: "host"
    environment:
      - BEE_API_ADDR
      - BEE_BLOCK_TIME
      - BEE_BOOTNODE
      - BEE_BOOTNODE_MODE
      - BEE_CLEF_SIGNER_ENABLE=true
      - BEE_CLEF_SIGNER_ENDPOINT=http://127.0.0.1:8550
      - BEE_CONFIG
      - BEE_CORS_ALLOWED_ORIGINS
      - BEE_DATA_DIR
      - BEE_CACHE_CAPACITY
      - BEE_DB_OPEN_FILES_LIMIT
      - BEE_DB_BLOCK_CACHE_CAPACITY
      - BEE_DB_WRITE_BUFFER_SIZE
      - BEE_DB_DISABLE_SEEKS_COMPACTION
      - BEE_DEBUG_API_ADDR
      - BEE_DEBUG_API_ENABLE=true
      - BEE_GATEWAY_MODE
      - BEE_GLOBAL_PINNING_ENABLE
      - BEE_FULL_NODE=true
      - BEE_NAT_ADDR
      - BEE_NETWORK_ID
      - BEE_P2P_ADDR
      - BEE_P2P_QUIC_ENABLE
      - BEE_P2P_WS_ENABLE
      - BEE_PASSWORD=${BEE_PASSWORD:-asdasdasd}
      - BEE_PASSWORD_FILE
      - BEE_PAYMENT_EARLY=${BEE_PAYMENT_EARLY:-0}
      - BEE_PAYMENT_THRESHOLD=${BEE_PAYMENT_THRESHOLD:-320000000000}
      - BEE_PAYMENT_TOLERANCE=${BEE_PAYMENT_TOLERANCE:-320000000000}
      - BEE_POSTAGE_STAMP_ADDRESS
      - BEE_RESOLVER_OPTIONS
      - BEE_STANDALONE
      - BEE_SWAP_ENABLE
      - BEE_SWAP_ENDPOINT=${BEE_SWAP_ENDPOINT:-ws://swap-endpoint-01:8546}
      - BEE_SWAP_FACTORY_ADDRESS
      - BEE_SWAP_LEGACY_FACTORY_ADDRESSES
      - BEE_SWAP_INITIAL_DEPOSIT
      - BEE_SWAP_DEPLOYMENT_GAS_PRICE=1000000000000
      - BEE_TRACING_ENABLE
      - BEE_TRACING_ENDPOINT
      - BEE_TRACING_SERVICE_NAME
      - BEE_TRANSACTION
      - BEE_VERBOSITY
      - BEE_WELCOME_MESSAGE="链派科技 微信chainpion2021"
    volumes:
      - /data/bee:/home/bee/.bee
    command: start
    depends_on:
      - clef-1
# volumes:
#   clef-1:
#   bee-1:
